.dispNone {
    display:none;
}

.dispBlock {
    display: block;
}

.error {
    color: red;
}
.main-container{
  display: flex;
  flex-direction: column;
}

.card-container{
    width: 400px;
    padding: 50px;
    margin: 20px auto;
}